// All colors
$syntax-color-background: #eee !default;
$syntax-color-default: #333 !default;
$syntax-color-number: #06a !default;
$syntax-color-constant: #333 !default;
$syntax-color-setget: #aa3 !default;
$syntax-color-variable: #838 !default;
$syntax-color-static: #aa3 !default;
$syntax-color-keyword: #a60 !default;
$syntax-color-string: #060 !default;
$syntax-color-comment: #393 !default;

// Default class name for the parent code element
$syntax-css-selector-php: ".php" !default;