// All colors
$syntax-color-background: #333 !default;
$syntax-color-default: #eee !default;
$syntax-color-number: #39c !default;
$syntax-color-constant: #eee !default;
$syntax-color-setget: #cc6 !default;
$syntax-color-variable: #a7a !default;
$syntax-color-static: #cc6 !default;
$syntax-color-keyword: #c93 !default;
$syntax-color-string: #393 !default;
$syntax-color-comment: #6c6 !default;

// Default class name for the parent code element
$syntax-css-selector-php: ".php" !default;