@import "variables";

code,
pre {
    &#{$syntax-css-selector-php} {
        background-color: $syntax-color-background;
        color: $syntax-color-default;
        font-weight: normal;
        font-style: normal;
    }
}

#{$syntax-css-selector-php} {
    .default {
        &,
        .constant {
            color: $syntax-color-default;
            font-weight: normal;
            font-style: normal;
        }
    }
    
    .number {
        color: $syntax-color-number;
        font-weight: normal;
        font-style: normal;
    }
    
    .constant {
        &,
        .number,
        .setget {
            color: $syntax-color-constant;
            font-weight: normal;
            font-style: italic;
        }
    }
    
    .setget {
        color: $syntax-color-setget;
        font-weight: normal;
        font-style: normal;
    }
    
    .variable {
        &,
        .number,
        .keyword {
            color: $syntax-color-variable;
            font-weight: normal;
            font-style: normal;
        }
    }
    
    .static {
        color: $syntax-color-static;
        font-weight: normal;
        font-style: normal;
    }
    
    .keyword {
        color: $syntax-color-keyword;
        font-weight: bolder;
        font-style: normal;
    }
    
    .string {
        &,
        .number,
        .constant,
        .setget,
        .variable,
        .static,
        .keyword {
            color: $syntax-color-string;
            font-weight: normal;
            font-style: normal;
        }
    }
    
    .docblock,
    .comment {
        &,
        .number,
        .constant,
        .setget,
        .variable,
        .static,
        .keyword {
            color: $syntax-color-comment;
            font-weight: normal;
            font-style: normal;
        }    
    }
}