code.php,
pre.php {
  background-color: #eee;
  color: #333;
  font-weight: normal;
  font-style: normal;
}

.php .default,
.php .default .constant {
  color: #333;
  font-weight: normal;
  font-style: normal;
}
.php .number {
  color: #06a;
  font-weight: normal;
  font-style: normal;
}
.php .constant,
.php .constant .number,
.php .constant .setget {
  color: #333;
  font-weight: normal;
  font-style: italic;
}
.php .setget {
  color: #aa3;
  font-weight: normal;
  font-style: normal;
}
.php .variable,
.php .variable .number,
.php .variable .keyword {
  color: #838;
  font-weight: normal;
  font-style: normal;
}
.php .static {
  color: #aa3;
  font-weight: normal;
  font-style: normal;
}
.php .keyword {
  color: #a60;
  font-weight: bolder;
  font-style: normal;
}
.php .string,
.php .string .number,
.php .string .constant,
.php .string .setget,
.php .string .variable,
.php .string .static,
.php .string .keyword {
  color: #060;
  font-weight: normal;
  font-style: normal;
}
.php .docblock,
.php .docblock .number,
.php .docblock .constant,
.php .docblock .setget,
.php .docblock .variable,
.php .docblock .static,
.php .docblock .keyword,
.php .comment,
.php .comment .number,
.php .comment .constant,
.php .comment .setget,
.php .comment .variable,
.php .comment .static,
.php .comment .keyword {
  color: #393;
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=php-default-light.css.map */
